.n-section
  padding 80px 0px
  background-color #fff
  box-sizing border-box
  &.grey
    background-color #f3f6f9

  &__title
    font-size 40px
    font-weight 300
    line-height 1.4
    color #3d4348
    +below('md')
      font-size 32px
      font-weight 300
      line-height 1.25
  
  &__subtitle
    font-size 24px
    font-weight 300
    line-height 1.04
    letter-spacing 0.5px
    color #000000
    margin-top 21px
    +below('md')
      font-size 18px
      line-height 1.33
      letter-spacing 0.4px

  &__description
    margin-top 37px
    font-size 16px
    line-height 1.38
    letter-spacing 0.3px
    color #000000
    +below('md')
      margin-top 24px 
      font-size 14px
      line-height 1.29
      letter-spacing 0.3px
  .n-button
    position relative
    margin auto    
    margin-top 82px
    +below('md')
      margin-top 64px