.n-footer
  padding 40px 0
  &__link
    font-size 16px
    font-weight 500
    font-style normal
    font-stretch normal
    line-height 1.88
    letter-spacing normal
    color #1a991a
    text-decoration none
    position relative

    &:after
      content ' '
      display inline-block
      margin-left 8px
      margin-bottom -3px
      bg-svg($link)
  &__copyright
    margin-top 18px
    font-size 14px
    line-height 1.57
    letter-spacing 0.3px
    color #9c9fa2