.n-close
.n-menu
  max-height 40px
  max-width 40px
  min-width 40px
  min-height 40px
  position relative
  background none
  border none
  display block
  padding 0
  outline none
  cursor pointer

  span
    position absolute
    width 20px
    height 2px
    background-color #239726
    left 0px
    &:nth-child(1)
      top 10px
    &:nth-child(2)
      top 19px
    &:nth-child(3)
      top 28px

.n-close
  position absolute
  top 24px
  right 22px
  span
    &:nth-child(1)
      top 15px
      transform: rotate(45deg)
    &:nth-child(2)
      top 15px
      transform: rotate(-45deg)
  +below('md')
    top 21px
    left 29px
