.n-header
  height 80px
  width 100%
  background-color #fff
  &__wrapper
    display flex
    padding 18px 0
    align-items center

    .n-logo
      margin-left 60px
      background-size contain
      background-repeat no-repeat
      background-position center
      +below('md')
        margin-left auto
        width 175px
        height 32px

    .n-block_phone
      margin-top -6px
      margin-left: auto 
      +below('md')
        display none