mixin header(data)
    +b.HEADER.n-header
        .container.container_fluid
            .columns
                .column_md-12.column_xs-12
                    +e.wrapper
                        button.n-menu.js-button
                            span
                            span
                            span
                        +b.NAV.n-nav.js-nav
                            +e.UL.list(title='Меню')
                                +e.elem
                                    +e.A.link(href='#') В чем суть?
                                +e.elem
                                    +e.A.link(href='#') Какие гарантии?
                                +e.elem
                                    +e.A.link(href='#') Какой будет Ваша пенсия?
                                +e.elem
                                    +e.A.link(href='#') Как инвестируются средства?
                                +e.elem
                                    +e.A.link(href='#') Для кого это?
                        a(href='#').n-logo
                        +b.n-block_phone
                            +e.text Горячая линия
                            +e.A.tel(href='tel:88005550041') 8 800 555 00 41
        

            