mixin header(data)
    +b.HEADER.n-header
        .container.container_fluid
            .columns
                .column_md-12.column_xs-12
                    +e.wrapper
                        button.n-menu.js-button
                            span
                            span
                            span
                        +b.NAV.n-nav.js-nav(title='Меню')
                            button.js-close.n-close
                                span
                                span
                            +e.UL.list
                                +e.elem
                                    +e.A.link(href='#first').js-scroll В чем суть?
                                +e.elem
                                    +e.A.link(href='#second').js-scroll Какие гарантии?
                                +e.elem
                                    +e.A.link(href='#third').js-scroll Какой будет Ваша пенсия?
                                +e.elem
                                    +e.A.link(href='#forth').js-scroll Как инвестируются средства?
                                +e.elem
                                    +e.A.link(href='#fifth').js-scroll Для кого это?
                            +e.phone
                                +b.n-block_phone
                                    +e.text Горячая линия
                                    +e.A.tel(href='tel:88005550041') 8 800 555 00 41
                        a(href='#').n-logo
                        +b.n-block_phone
                            +e.text Горячая линия
                            +e.A.tel(href='tel:88005550041') 8 800 555 00 41
        

            