.n-button
  max-width 300px
  width 100%
  border-radius 32px
  box-shadow 0 5px 20px 0 rgba(255, 167, 21, 0.5)
  background-color #ffa715
  font-size 20px
  font-weight 500
  line-height 1.02
  letter-spacing 0.2px
  text-align center
  color #ffffff
  display block
  text-decoration none
  padding 21px 0
  transition-duration: .2s
  transition-property: all

  &:hover
    transform: translateY(2px)
  
  &:active
    transform: translateY(2px) scale(0.98)